body {
    font-family: 'regular';
    background: 
        url('/assets/stars.svg') center bottom no-repeat fixed,
        url('/brainstorm/assets/bg3.svg') center bottom no-repeat fixed;
    background-size: auto 100vh;

    line-height: 1.6;
    margin: 0;
}
.five-col {

    display: grid;
    grid-template-columns: repeat(4,  minmax(0, 1fr));
    gap: 10px;
}
.five-col img {
    width: 100%;
    height: auto;
    display: block;
}
.container {
    background-color: #0f1240f8;
    overflow: hidden;
    position: relative;
    max-width: 1000px;
    width: 90%;
    margin: 40px auto;
    border: #9cdcc4 4px solid;
    box-shadow:
    0 0 6px #9cdcc4b3,
    inset 0 0 10px #9cdcc4b3; 
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
}


.header {
    font-size: 50px;
    font-family: 'pixel';
}
.bold {
    color: #e99997;
    
}
span {
    color: #e99997;
}
.green {
    color: #b9dc8e;
}
a {
    color: #9cdcc4;
}
@font-face {
  font-family: 'regular'; /* Choose any name you like */
  src: url('/brainstorm/assets/Outfit-Light.ttf') format('truetype'); /* Specify the path to your file */
  font-weight: normal; /* Optional: define weight if the font has only one */
  font-style: normal; /* Optional: define style */
}
@font-face {
  font-family: 'pixel'; /* Choose any name you like */
  src: url('/brainstorm/assets/PixelOperator.ttf') format('truetype'); /* Specify the path to your file */
  font-weight: normal; /* Optional: define weight if the font has only one */
  font-style: normal; /* Optional: define style */
}
